# Ignore everything in the docker_data folder
src/docker_data/*

./.venv/*
./.ruff_cache/*
./.vscode/*
venv/*
*.pyc

# Ignore data in the project root as well as cache created by osmnx
data/*
cache/*
