# Ignore everything in the docker_data folder
src/road_embedding_gnn/docker_data/cache/*
src/road_embedding_gnn/docker_data/data/data_train/*
src/road_embedding_gnn/docker_data/data/data_transformed/*
src/road_embedding_gnn/docker_data/data/data_val/*
src/road_embedding_gnn/docker_data/data/weights/*

./.venv/*
./.ruff_cache/*
./.vscode/*
venv/*
*.pyc

# Ignore data in the project root as well as cache created by osmnx
data/*
cache/*
